.shared-services-container {
	background: $grey;

	.card-panel{
		background: $grey;
		padding: 0;
		margin: 15px 0;
		
		h6, p{
			margin: 2.5px 0;
		}

		p{
			font-size: 12px;
		}
	}

	@media only screen and (min-width: 993px){
		.container {
		    width: 80%;
		}
	}
}