.products-filter-container { 
	padding: 20px 0;
	font-weight: 300;
	
	h5{
		font-weight: 300;
		color: #9599a3;
	}

	.cb-container{
		margin-bottom: 5px;
	}

	.range-field{
		margin-top: 25px;
	}

	.filter-btn{
		display: block;
	}
}